/* Agregar espacio entre el contenido principal y el pie de página */
body {
    margin-bottom: 100px;
}

/* Estilo para el pie de página */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40; /* Color de fondo oscuro */
    color: #ffffff; /* Color del texto blanco */
    padding: 10px 0;
}

/* Estilo para el encabezado */
header {
    background-color: #343a40; /* Color de fondo oscuro */
    color: #ffffff; /* Color del texto blanco */
    padding: 15px 0;
}

/* Ajuste de margen superior para el contenido principal */
main {
    margin-top: 20px;
    height: 100%;
}

/* Estilo para el botón */
.btn-dark {
    background-color: #343a40; /* Color de fondo oscuro para botones */
    color: #ffffff; /* Color del texto blanco para botones */
    border-color: #343a40; /* Color del borde igual al fondo para botones oscuros */
}

/* Estilo para los enlaces */
a {
    color: #343a40; /* Color del enlace */
}

a:hover {
    color: #1d2124; /* Color del enlace al pasar el mouse */
}

/*IMAGEN DE FONDO*/
.login-form-container {
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    width: 100%;
    height: 100%;
    background-image: url('/images/fondo.jpg'); 
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6; 
}

.card {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.8); /* Color de fondo del formulario*/
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para el sidebar */
.sidebar {
    background: rgb(44, 49, 54); /* Cambiar a un gris más oscuro para el fondo del sidebar */
    color: #000000; /* Cambiar a azul para el color del texto en el sidebar */
    padding-top: 20px; /* Espaciado superior en el sidebar */
}

/* Estilo para los enlaces dentro del sidebar */
.sidebar a {
    color: #ffffff; /* Color del enlace en el sidebar */
}

.sidebar a:hover {
    color: #1d2124; /* Color del enlace al pasar el mouse en el sidebar */
}
.custom-bg {
    background-color: #797171; /* Cambia esto al tono de gris que prefieras */
}

.custom-margin {
    margin-right: 15px; /* Ajusta el valor según necesites */
}

